:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 3320px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-af {
  position: relative;
  width: 1920px;
  height: 1100px;
  margin: 0 0 0 0;
  z-index: 82;
  overflow: visible auto;
}
.rectangle {
  position: relative;
  width: 1920px;
  height: 102px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 49;
}
.green-no-bg {
  position: absolute;
  width: 107px;
  height: 102px;
  top: 1px;
  left: 14px;
  background: url(https://static.codia.ai/image/2025-03-06/74183284-6d3e-40c9-945e-173e1ab9ae66.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 19px;
  left: 1758px;
  background: url(https://static.codia.ai/image/2025-03-06/89f5d6b6-3c8e-42aa-bcbb-04f87f501374.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
  border-radius: 50%;
}
.rectangle-1 {
  position: absolute;
  width: 113px;
  height: 27px;
  top: 30px;
  left: 1781px;
  background: #045153;
  z-index: 53;
  border-radius: 55px;
}
.onwara {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 5px;
  left: 33px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.oui-arrow-up {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 86px;
  background: url(https://static.codia.ai/image/2025-03-06/da54ba65-1dee-49d9-ab00-66de0bf05d79.svg)
    no-repeat center;
  background-size: cover;
  z-index: 57;
  overflow: hidden;
}
.solar-cart-linear {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 34px;
  left: 1674px;
  z-index: 58;
  overflow: hidden;
}
.solar-cart-linear-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 59;
  overflow: hidden;
}
.group {
  position: relative;
  width: 21.053px;
  height: 21px;
  margin: 3.5px 0 0 3.473px;
  background: url(https://static.codia.ai/image/2025-03-06/95dd6a1a-7e8b-4b89-8e69-1f859363212f.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
.mynaui-chat {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 34px;
  left: 1627px;
  background: url(https://static.codia.ai/image/2025-03-06/ffb239c3-7cd0-4185-abbe-30ef00fa2fbf.svg)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  overflow: hidden;
}
.community {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29.41%;
  top: 35.29%;
  left: 62.66%;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.blog {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29.41%;
  top: 35.29%;
  left: 44.43%;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.pet-care-portal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 36px;
  left: 113px;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.serve {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29.41%;
  top: 35.29%;
  left: 37.55%;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20.59%;
  top: 35.29%;
  left: 29.22%;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.appointment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29.41%;
  top: 36.27%;
  left: 52.14%;
  color: #7f7f7f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.line {
  position: absolute;
  width: 1px;
  height: 15px;
  top: 42px;
  left: 1731px;
  background: url(https://static.codia.ai/image/2025-03-06/61688fa9-238f-4f9f-9c25-7e91ec6487f3.svg)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.line-3 {
  position: absolute;
  width: 0.05%;
  top: 50.2%;
  left: 30.52%;
  background: url(./assets/images/cb56a64e-c636-4824-b111-69f711e757ae.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 64;
}
.line-4 {
  position: absolute;
  width: 0.05%;
  top: 55.88%;
  left: 38.85%;
  background: url(./assets/images/0bb84ed6-8d46-4c7f-8f82-f6637a68f979.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.line-5 {
  position: absolute;
  width: 0.06%;
  top: 55.88%;
  left: 45.66%;
  background: url(./assets/images/1d3a494b-a007-4dbb-9da6-8385522bb3ac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 70;
}
.line-6 {
  position: absolute;
  width: 0.37%;
  top: 55.88%;
  left: 64.12%;
  background: url(./assets/images/59c90cfd-90b4-4fd6-901a-76d420a13ef4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 73;
}
.line-7 {
  position: absolute;
  width: 0.11%;
  top: 56.86%;
  left: 54.28%;
  background: url(./assets/images/b2059a05-c5d8-4a51-a7c8-0bac42f3a80a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 76;
}
.gentle-cleaning-solutions {
  display: block;
  position: relative;
  height: 21px;
  margin: 409px 0 0 641px;
  color: #ffffff;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.rectangle-8 {
  position: absolute;
  width: 1920px;
  height: 1100px;
  top: 0;
  left: 0;
  background: #04505300;
  opacity: 0.65;
  z-index: 1;
}
.rectangle-9 {
  position: absolute;
  width: 1920px;
  height: 1100px;
  top: 0;
  left: 0;
  background: #045153;
  opacity: 0.3;
  z-index: 2;
}
.back {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 75.6px;
  height: 4.55%;
  top: 12.64%;
  left: 3.39%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  z-index: 45;
}
.ooui-next-rtl {
  position: absolute;
  width: 1.41%;
  height: 2.27%;
  top: 12.86%;
  left: 1.72%;
  z-index: 46;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 16.2px;
  height: 20.833px;
  margin: 2.084px 0 0 5.4px;
  background: url(https://static.codia.ai/image/2025-03-06/9ce6117c-0cdd-4c0b-bd06-8929662fc104.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
}
.rabbit-supplements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 133px;
  top: 292px;
  left: calc(50% - 439px);
  color: #ffffff;
  font-family: Denton Test, var(--default-font-family);
  font-size: 100px;
  font-weight: 800;
  line-height: 132.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.rabbit-cleaning-products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 133px;
  top: 384px;
  left: calc(50% - 557px);
  color: #ffffff;
  font-family: Denton Test, var(--default-font-family);
  font-size: 100px;
  font-weight: 800;
  line-height: 132.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.ooui-next-ltr {
  position: absolute;
  width: 41px;
  height: 37px;
  top: 664px;
  left: 876px;
  background: url(https://static.codia.ai/image/2025-03-06/020640c8-100d-4883-9639-bd4b66fd26d9.svg)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  overflow: hidden;
}
.ooui-next-ltr-a {
  position: absolute;
  width: 41px;
  height: 37px;
  top: 664px;
  left: 1003px;
  background: url(https://static.codia.ai/image/2025-03-06/bde9e507-7448-49dc-b38a-a81a855e145c.svg)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  overflow: hidden;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 86px;
  height: 14px;
  top: 675px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 82;
}
.ellipse-b {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://static.codia.ai/image/2025-03-06/414ef7f9-ef8b-435c-9931-80db1d271ca8.svg)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  border-radius: 50%;
}
.ellipse-c {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://static.codia.ai/image/2025-03-06/c0880a6d-38a5-48b7-9300-25db49ec9ac9.svg)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.ellipse-d {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://static.codia.ai/image/2025-03-06/1b83ab98-7877-4d21-a986-73980d0d7a91.svg)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 50%;
}
.ellipse-e {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://static.codia.ai/image/2025-03-06/fd497ecd-c8cf-4cbf-96cb-e74edef6666e.svg)
    no-repeat center;
  background-size: cover;
  z-index: 86;
  border-radius: 50%;
}
.img-b {
  position: relative;
  width: 1919px;
  height: 267px;
  margin: 0 0 0 1px;
  background: url(./img/clp.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.flex-row-fe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 960px;
  height: 300px;
  margin: 121px 0 0 97px;
  z-index: 34;
}
.rectangle-f {
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  z-index: 10;
  border-radius: 20px;
}
.image {
  position: relative;
  width: 145px;
  height: 145px;
  margin: 22px 0 0 33px;
  background: url(./img/1.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: relative;
  width: 199px;
  margin: -1px 0 0 4px;
  z-index: 11;
}
.kong-soft-latex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 199px;
  min-width: 0;
  height: 42px;
  color: #045153;
  font-family: Denton Test, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 21.2px;
  text-align: center;
  z-index: 12;
}
.price {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #045153;
  font-family: DM Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 19.53px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.rectangle-11 {
  position: relative;
  width: 153px;
  height: 37.879px;
  margin: 2px 0 0 34px;
  border: 1.485px solid #045153;
  z-index: 17;
  border-radius: 40.85px;
}
.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 58.08%;
  top: 15.69%;
  left: 25.24%;
  color: #045153;
  font-family: Poppins, var(--default-font-family);
  font-size: 14.854369163513184px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.vector-12 {
  position: absolute;
  width: 9.71%;
  height: 39.22%;
  top: 25.49%;
  left: 10.68%;
  background: url(https://static.codia.ai/image/2025-03-06/2b7fa6a6-d077-4405-a935-c738663ca620.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.rectangle-13 {
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  z-index: 22;
  border-radius: 20px;
}
.image-14 {
  position: relative;
  width: 132px;
  height: 132px;
  margin: 22px 0 0 39px;
  background: url(./img/2.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: relative;
  width: 199px;
  margin: 22.5px 0 0 4px;
  z-index: 23;
}
.rabbit-claw-clippers {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 21px;
  color: #045153;
  font-family: Denton Test, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 24;
}
.price-16 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #045153;
  font-family: DM Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 19.53px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.rectangle-17 {
  position: relative;
  width: 153px;
  height: 37.879px;
  margin: 12.5px 0 0 34px;
  border: 1.485px solid #045153;
  z-index: 29;
  border-radius: 40.85px;
}
.add-to-cart-18 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 58.08%;
  top: 15.69%;
  left: 25.24%;
  color: #045153;
  font-family: Poppins, var(--default-font-family);
  font-size: 14.854369163513184px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.vector-19 {
  position: absolute;
  width: 9.71%;
  height: 39.22%;
  top: 25.49%;
  left: 10.68%;
  background: url(https://static.codia.ai/image/2025-03-06/4b68306c-c4c9-4589-80c3-7f278efb522e.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.rectangle-1a {
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 300px;
  background: #d9d9d9;
  z-index: 34;
  border-radius: 20px;
}
.image-1b {
  position: relative;
  width: 167px;
  height: 167px;
  margin: 4px 0 0 22px;
  background: url(./img/3.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.frame-1c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: relative;
  width: 199px;
  margin: -5px 0 0 4px;
  z-index: 35;
}
.natures-own-calm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 199px;
  min-width: 0;
  height: 42px;
  color: #045153;
  font-family: Denton Test, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 21.2px;
  text-align: center;
  z-index: 36;
}
.price-1d {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #045153;
  font-family: DM Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 19.53px;
  text-align: center;
  white-space: nowrap;
  z-index: 37;
}
.rectangle-1e {
  position: relative;
  width: 153px;
  height: 37.879px;
  margin: 2px 0 0 34px;
  border: 1.485px solid #045153;
  z-index: 41;
  border-radius: 40.85px;
}
.add-to-cart-1f {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 58.08%;
  top: 15.69%;
  left: 25.24%;
  color: #045153;
  font-family: Poppins, var(--default-font-family);
  font-size: 14.854369163513184px;
  font-weight: 800;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.vector-20 {
  position: absolute;
  width: 9.71%;
  height: 39.22%;
  top: 25.49%;
  left: 10.68%;
  background: url(https://static.codia.ai/image/2025-03-06/b47dbeb4-4070-43bf-909c-f631778b958f.svg)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}
.image-21 {
  position: absolute;
  width: 1920px;
  height: 1100px;
  top: 0;
  left: 0;
  background: url(./img/bg.png)
    no-repeat center;
  background-size: cover;
}
.vector-22 {
  position: absolute;
  width: 1920px;
  height: 1100px;
  top: 458px;
  left: 0;
  background: url(https://static.codia.ai/image/2025-03-06/def604f1-1354-4daf-8c32-d7b64ad0488a.svg)
    no-repeat center;
  background-size: cover;
  filter: blur(153px);
  z-index: 4;
}
